.order{
    
    select{
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #777;
        margin-bottom: 20px;
    }
    textarea{
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #777;
        margin-bottom: 20px;
    }
    .formi button{
        background-color: #007bff !important;
    }
    
}
@media (max-width: 575.98px) { 
    .order{
        margin: 20px;
    }
 }

